.jumbotron {
  height: 450px;
  margin: 5px 0;
  background-color: #141452;
}
.jumbotron h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
}
.jumbotron .btn {
  font-size: 18px;
  padding: 14px 24px;
}

