body {
    font-family: 'Open Sans', sans-serif;
}

.img {
  width: auto;
  height: 225px;
  max-height: 225px;
}

.footer {
  margin-right: 0;
  margin-left: 0;
  background-color: #141452;
  color: white;
}

.jumbotron {
  height: 450px
  margin: 0;
  background-color: #141452;
}

.jumbotron h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
}

.jumbotron .btn {
  font-size: 18px;
  padding: 14px 24px;
}

